{
  "root": true,
  "parser": "@typescipt-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["warn"],
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingExtends": true
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescipt-eslint/eslint-recommended",
    "plugin:@typescipt-eslint/recommended",
    "plugin:react-hooks/recommended"
  ]
}
