.footer {
  padding: 25px 32px;
  display: flex;
  align-items: flex-start;
  column-gap: 30px;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--primary);
}

.copyrights {
  flex: 1 1 auto;
}

.list {
  display: flex;
  column-gap: 40px;
  font-weight: 500;
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--gray-light);
}

@media (max-width: 765px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  .copyrights {
    flex: 0 0 auto;
  }

  .list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}
